body {
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  box-sizing: border-box;
  background: #f2ebe3;
}

body p {
  font-size: 14px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.container-left, .container-right {
  width: 50%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container-left img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.image-mobile {
  display: none;
}

.container-right {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-right div {
  width: 75%;
}

.flex-container {
  display: flex;
}

.perfume p {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #6c7289;
  opacity: 0.8;
  margin: 0;
  margin-bottom: 25px
}

.perfume h1 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 2.7em;
  margin: 0;
  line-height: 40px;
  margin-bottom: 25px
}

.description p {
  margin: 0;
  line-height: 25px;
  color: #6c7289;
  margin-bottom: 20px;
}

.pricing p:first-of-type {
  color: #3c8067;
  font-family: 'Fraunces', serif;
  font-size: 2.4em;
  margin: 0;
  margin-right: 25px;
}

.pricing p:nth-of-type(2) {
  margin: 0;
  align-self: center;
  color: #6c7289;
  text-decoration: line-through;
}

.button button {
  color: white;
  background: #3c8067;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 0.9rem 0;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.button button:hover {
  background: #19472b;
}

.button img {
  margin-right: 10px;
}

@media (max-width: 670px) {
  .container-right div {
    width: 85%;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .image-web {
    display: none;
  }

  .image-mobile {
    display: block;
  }

  .container-left, .container-right {
    width: 340px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .container-left img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .perfume p {
    margin-bottom: 10px;
    margin-top: 25px;
  }

  .perfume h1 {
    font-size: 2.3em;
    line-height: 38px;
    margin-bottom: 18px;
  }

  .button button {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}














.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}